/* .book {
  background-color: red;
} */
/* #pen {
  color: green;
} */

/* .items p {
  background-color: yellow;
} */

/* #animal {
  background-color: pink;
} */

/* .animal {
  color: blue;
} */

/* div > .parag {
  background-color: green;
} */
