.container {
  width: 1200px;
}
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

header ul {
  display: flex;
  column-gap: 40px;
}
